DASHSCOPE_MODEL=qwen3.6-plus
DASHSCOPE_API_KEY=sk-a2e8e62169a84806b116501cfeeb6b5c
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
mcp=https://dashscope.aliyuncs.com/api/v1/mcps/market-cmapi013828/mcp